doctype html
html(lang='en' ng-app='blogzinga')
    head
        meta(name="fragment", content="!")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='BlogZinga! La lista dei blog di programmatori italiani')
        title BlogZinga! La lista dei blog di programmatori italiani
        link(href='css/lib.css?v=#{version}', rel='stylesheet')
        link(href='css/style.css?v=#{version}', rel='stylesheet')
    body(ng-controller="snapshotController" data-status="{{status}}")
        .navbar.navbar-default.navbar-fixed-top
            .container(style="min-height: 75px")
                .navbar-header
                    a.visible-xs.navbar-brand(ui-sref="blogs.list") BlogZinga! <span style="font-size: 13px">by CNJ</span>
                        div(style="font-size: 14px; font-style: italic; margin-bottom: 5px") I blog di sviluppatori italiani
                    a.visible-sm.visible-md.visible-lg.navbar-brand(ui-sref="blogs.list") BlogZinga! <span style="font-size: 13px">by CoseNonJaviste</span>
                        div(style="font-size: 14px; font-style: italic; margin-bottom: 5px") La lista dei blog di sviluppatori italiani
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-main")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar-main.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(ui-sref="blogs.contribute") Aggiungi il tuo blog preferito
                        li
                            a(ui-sref="blogs.about") Cos'è BlogZinga
        .container(ui-view="template")
        
        script(src='js/lib.js?v=#{version}')
        script(src='js/templates.js?v=#{version}')
        script(src='js/app.js?v=#{version}')

